@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

#desktop_mode {
    display: block;
    background: #f0f1f2;
    width: 100%;
    height: 100vh;
}

#mobile_mode {
    display: none;
    width: 100%;
    height: 100vh;
}

.all_desktop_content {
    width: 60%;
    padding-top: 6vh;
    margin: 0px auto;
}

.all_desktop_content .right.header {
    font-size: 12px;
    padding-top: 20px;
}

.all_desktop_content .right.header label {
    color: #888;
}

.all_desktop_content .right.header label a {
    color: #1470cc;
}

.all_desktop_content .left a {
    color: #222;
    display: inline-block;
    font-size: 12px;
}

.desktop_flex_content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 10%);
    margin: 20px auto;
}

.desktop_flex_content>* {
    width: 50%;
}

.desktop_flex_content .desktop_left img {
    width: 100%;
}

.desktop_flex_content .desktop_right {
    background: #ffffff;
}

.desktop_flex_content .desktop_right form {
    width: 90%;
    margin: 10px auto;
    margin-top: 50px;
}

.desktop_flex_content .desktop_right form>* {
    display: block;
}

.desktop_flex_content .desktop_right form label {
    display: block;
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
}

.desktop_flex_content .desktop_right form input {
    line-height: 24px;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ced3d9;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
}

.desktop_flex_content .desktop_right form button {
    display: block;
    width: 100%;
    height: auto;
    line-height: inherit;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    color: #fff;
    border: solid 1px #e64545;
    margin-top: 20px;
    background-color: #e64545;
    margin-bottom: 10px;
    border-radius: 3px;
}

.desktop_flex_content .desktop_right form button:hover {
    color: #fff;
    border: solid 1px #d92121;
    background-color: #d92121;
}

.desktop_flex_content .desktop_right form .left label,
.desktop_flex_content .desktop_right form .right label {
    color: #888;
    font-size: 14px;
    margin: 10px 0;
    height: 26px;
    line-height: 26px;
}

.desktop_flex_content .desktop_right form .left,
.desktop_flex_content .desktop_right form .right {
    color: #888;
    font-size: 14px;
    line-height: 26px;
}

.desktop_flex_content .desktop_right form a {
    color: #1470cc;
    font-size: 14px;
    line-height: 26px;
}

.desktop_flex_content .desktop_right .desktop_alternate_login {
    text-align: center;
    color: #888;
    font-size: 14px;
    margin-top: 20px;
}

.desktop_flex_content .desktop_right .desktop_alternate_login p {
    margin: 10px auto;
}

.desktop_flex_content .desktop_right img {
    width: 30px;
}

.footer * {
    color: #666;
    font-size: 12px;
    text-align: center;
    word-spacing: 4px;
}

header {
    box-shadow: 0 1px 3px 0px #ced3d9;
    padding: 12px;
    font-size: 18px;
}

header a {
    color: #e64545;
    font-weight: 500;
}

main form {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
}

main form * {
    display: block;
}

main form label {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    margin: 4px 0;
}

main form input {
    width: 100%;
    padding: 0 15px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
}

main form button {
    color: #fff;
    line-height: 38px;
    background: linear-gradient(90deg, #f26d61, #e64545);
    border-radius: 19px;
    height: 38px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #e6e6e6;
    padding: 0 15px;
    display: block;
    width: 100%;
    margin-top: 20px;
}

main form a {
    color: #06c;
    font-size: 12px;
    line-height: 1.2;
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 30px 0;
    width: 100%;
}

footer .other_logs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
}

footer .lefts,
footer .rights {
    height: 1px;
    width: 35%;
    margin-top: 10px;
    background-color: #c8c8c8;
}

footer .center {
    padding: 0px 5px;
    font-weight: 400;
    font-size: 14px;
    color: #999;
}

footer .login_error_note {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 2px auto;
    padding: 2px 10px;
}

footer .login_error_note img {
    width: 90px;
    margin: 3px 5px;
    display: inline-block;
}

@media (max-width: 500px) {

    #desktop_mode {
        display: none;
    }

    #mobile_mode {
        display: block;
    }

    footer .login_error_note img {
        width: 40px;
        margin: 3px 5px;
        display: inline-block;
    }
}