@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}

header {
    box-shadow: 0 1px 3px 0px #ced3d9;
    padding: 12px;
    font-size: 18px;
}

header a {
    color: #e64545;
    font-weight: 500;
}

main form {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
}

main form * {
    display: block;
}

main form label {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    margin: 4px 0;
}

main form input {
    width: 100%;
    padding: 0 15px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
}

main form button {
    color: #fff;
    line-height: 38px;
    background: linear-gradient(90deg, #f26d61, #e64545);
    border-radius: 19px;
    height: 38px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #e6e6e6;
    padding: 0 15px;
    display: block;
    width: 100%;
    margin-top: 20px;
}

main form a {
    color: #06c;
    font-size: 12px;
    line-height: 1.2;
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 30px 0;
    width: 100%;
}

footer .other_logs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
}

footer .lefts,
footer .rights {
    height: 1px;
    width: 35%;
    margin-top: 10px;
    background-color: #c8c8c8;
}

footer .center {
    padding: 0px 5px;
    font-weight: 400;
    font-size: 14px;
    color: #999;
}

footer .login_error_note {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 2px auto;
    padding: 2px 10px;
}

footer .login_error_note img {
    width: 90px;
    margin: 3px 5px;
    display: inline-block;
}

@media (max-width: 500px) {}
